img {
  width: 200px;
  //   clip-path: circle(100px at center);
}

table {
  // width: 100%;
  display: table;
}

thead {
  display: table-header-group;
}

a {
  color: blue;
}

td.release,
td.publisher {
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 600px) {
  .publisher {
    display: none;
  }
}
