img {
  width: 200px;
  //   clip-path: circle(100px at center);
}

table {
  width: 80%;
  max-width: 400px;
  display: table;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
}
